.App {
  text-align: center;
}

.contenedor{
  background-color: deeppink;
}

.listadolocalidad{
  background-color: brown;
}


.climadetalle{
  background-color: blue;
}

.climaLocalidad{
  background-color: aliceblue;
}
